body
{
	background-color: #303030;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.rectangle
{
	width: 960px;
	margin: 20px;
	text-align: center;
}

.square
{
	width: 50%;
	float: left;
}

#logo
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 50px;
	width: 600px;
	text-align: left;
	margin-bottom: 10px;
	margin-top: 20px;
	margin-left: 5px;

}

#zegar
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	margin-top: 35px;
	text-align: center;
}

.tile1
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #3095d3;
	float: left;
	text-align: center;
}

.tile1:hover
{
	background-color: #2084c2;
}

.tile2
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #df9fbf;
	float: left;
	text-align: center;
}

.tile2:hover
{
	background-color: #ce8eae;
}

.tile3
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #93c748;
	float: left;
	text-align: center;
}

.tile3:hover
{
	background-color: #82b637;
}

.tile4
{
	margin: 10px;
	width: 440px;
	height: 82px;
	background-color: #ee5a32;
	text-align: center;
	font-size: 22px;
	padding: 20px;
	line-height: 150%;

}

.tile5
{
	margin: 10px;
	width: 420px;
	height: 244px;
	background-color: #666666;
	text-align: center;
	padding: 30px;
	line-height: 150%;

}

.tile5:hover
{
	background-color: #555555;
}


.logo2
{
	margin: 10px;
	width: 105px;
	height: 122px;
	background-color: #df9fbf;
	float: left;
}


.logo2 img
{
	width: 85px; 
	height: 102px;
	margin-top: 10px;
	margin-left: 10px;
}

.logo-git
{
	margin: 10px;
	width: 105px;
	height: 122px;
	background-color: #df9fbf;
	float: left;
}

.logo-git img
{
	width: 85px; 
	height: 85px;
	margin-top: 20px;
	margin-left: 10px;
}

.overlay
{
	background-color: #3095d3;
	overflow: hidden;
	bottom: 100%;
	left: 0;
	right: 0;
	width: 100%;
	height: 0;

}

.logo2:hover .overlay
{
	width: 105px; 
	height: 122px;
	transform: translate(-0px, -116px);
	text-align: center;	
}

.logo-git:hover .overlay
{
	width: 105px; 
	height: 122px;
	transform: translate(-0px, -109px);
	text-align: center;	
}

.text
{
	overflow: hidden;
	color: white;
	font-size: 25px;
	margin-top: 45%;
}

.tilelink
{
	color: white;
	text-decoration: none;
	text-align: center;
}

h3
{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-bottom: 20px;
}

.fas
{
	color: white;
	font-size: 100px;
	float: center;
	margin-right: 50px;
	margin-top: 20px;
}

.far
{
	color: white;
	font-size: 100px;
	float: center;
	margin-left: 50px;
	margin-top: 20px;
}

.textpl
{
	width: 190px;
	height: 24px;
	float: left;
	text-align: center;
	margin-left: 5px;
}

.texteng
{
	width: 190px;
	height: 24px;
	float: left;
	text-align: center;
	margin-left: 30px;
}

.big-icon
{
	font-size: 30px;
	margin-right: 10px;
}
