body {
	background-image: url("img/tło.jpg");
	font-family: verdana, sans-serif;
	margin: 0;
	padding: 5px;
}

.nav {
	float: left;
	width: 15%;
}

.content {
	float: left;
	width: 70%;
}

.ad {
	float: right;
	width: 15%;
}

.ad img {
	width: 100%;
}

.logo, .footer {
	text-align: center;
}

.clear {
	clear: both;
}

.wrapper {
	margin: 5px;
	padding: 20px;
}

.logo .wrapper {
	background-color: black;
	color: white;
	text-align: center;
}

.nav .wrapper {
	background-color: lightgray;
	font-size: 22px;
}

.ad .wrapper {
	background-color: lightgray;
}

.content .wrapper {
	background-color: lightblue;
}

.footer .wrapper {
	background-color: black;
	color: lightgrey;
}