body
{
	background-color: #304040;
	color: white;
	text-align: center;
}

table#t01
{
	border: 5px solid red;
	text-align: left;
	background-color: black;
	
}

table#t01 td
{
	vertical-align: center;
	height: 30px;
	padding: 10px;
	border: 1px dotted red;

	
}


table#t01 tr:nth-child(odd)
{
	background-color: white;
	color: black;
}

table#t01 tr:hover
{
	background-color: #ff4445;
	cursor: pointer;
	font-weight: 700;
	
}
